<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}
<body id="page-top">
{{- partial "header.html" . -}}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        {{ with site.Data.homepage.main }}
                        <h1 class="mx-auto my-0 text-uppercase">{{ .header.title }}</h1>
                        {{ if .header.image }}<div class="mx-auto mt-2 mb-5"><img class="img-fluid" src="{{ .header.image }}" alt="..." /></div>{{ end }}
                        <a class="btn btn-primary" href="{{ .header.button.url }}">{{ .header.button.text }}</a>
                        {{ end }}
                    </div>
                </div>
                {{ with site.Data.homepage.main }}
                <div class="masthead-description text-center text-white-50 mb-5">{{ .header.description }}</div>
                {{ end }}
            </div>
        </header>
        <!-- About-->
        {{ with site.Data.homepage.about }}
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h1 class="text-primary mb-4">{{ .title }}</h1>
                        <p class="text-white-50">{{ .desc }}</p>
                        {{ if .button.enable }}
                        <a class="btn btn-primary about-btn" href="{{ .button.url }}">{{ .button.text }}</a>
                        {{ end }}
                    </div>
                </div>
                {{ if .image }}
                <img class="img-fluid" src="{{ .image }}" alt="..." />
                {{ end }}
            </div>
        </section>
        {{ end }}
        <!-- Projects-->
        {{ with site.Data.homepage.projects }}
        <section class="projects-section bg-dark" id="projects">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{ .card1.img }}" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="text-lg-left">
                            <h2 class="text-primary text-center mb-4">{{ .card1.title }}</h2>
                            <p class="featured-text text-black-50 mb-0">{{ .card1.text }}</p>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <!-- <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="{{ .card2.img }}" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">{{ .card2.title }}</h4>
                                    <p class="mb-0 text-white-50">{{ .card2.text }}</p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- Project Two Row-->
                <!-- <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="{{ .card3.img }}" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">{{ .card3.title }}</h4>
                                    <p class="mb-0 text-white-50">{{ .card3.text }}</p>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </section>
        {{ end }}
        <!-- Videos-->
        {{ with site.Data.homepage.videos }}
        <section class="bg-dark video-section" id="videos">
            <h2 class="text-primary text-center mb-5">{{ .title }}</h2>
            <!-- <div class="video-gallery">{{ partial "video-gallery" . }}</div> -->
            <div class="video-gallery">{{ range .items }} {{ partial "video" . }} {{ end }}</div>
        </section>
        {{ end }}
        <!-- Gigs-->
        {{ with site.Data.homepage.gigs }}
        <section class="bg-dark gigs-section" id="gigs">
            <h2 class="text-primary mb-5 text-center">{{ .title }}</h2>
            {{ if .items}}
            <div class="event-list">{{ range .items }} {{ partial "gig" . }} {{ end }}</div>
            {{ else }}
            <h4 class="event-list text-center text-black-50">No gigs scheduled. Stay tuned for news!</h4> 
            {{ end }}
        </section>
        {{ end }}
        {{ with site.Data.homepage.buy }}
        <section class="bg-dark buy-section" id="buy">
            <h2 class="text-primary text-center">{{ .text }}</h2>
            <div class="text-primary mb-5 text-center"><a class="text-primary" href={{ .url }} target="_blank"><i class="fab fa-bandcamp"></i></a></div>
        </section>
        {{ end }}
        <!-- Spotify-->
        <section class="bg-dark listen-section" id="listen">
        {{ with site.Data.homepage.listen }}
            <h2 class="text-primary mb-5 text-center">Listen</h2>
            {{ if .spotify }}
                {{ partial "spotify" .spotify}}
            {{ end }}
        {{ end }}
        </section>
        <!-- Signup-->
        <!-- <section class="signup-section" id="signup">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
                        <form class="form-signup" id="contactForm" data-sb-form-api-token="{{ site.Params.sbtoken }}">
                            <div class="row input-group-newsletter">
                                <div class="col"><input class="form-control" id="emailAddress" type="email" placeholder="Enter email address..." aria-label="Enter email address..." data-sb-validations="required,email" /></div>
                                <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Notify Me!</button></div>
                            </div>
                            <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is required.</div>
                            <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is not valid.</div>
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3 mt-2 text-white">
                                    <div class="fw-bolder">Form submission successful!</div>
                                </div>
                            </div>
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
                        </form>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- Contact-->
        <section class="contact-section bg-dark" id="contacts">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center text-primary mb-5">Contact us</h2>
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-12">
                        <div class="text-center">
                            <div>
                                <div><i class="fas fa-envelope text-primary"></i></div>
                                <a class="contact-section", href="mailto:{{ site.Params.email }}">{{ site.Params.email }}</a>
                            </div>
                        </div>
                    </div>
                    <hr class="mb-2 mt-2" style="max-width: 40%; margin: auto;"/>
                    <div class="col-md-12">
                        <div class="text-center">
                            <div>
                                <div><i class="fas fa-phone-alt text-primary"></i></div>
                                <a class="contact-section" href="tel:{{ site.Params.phone }}">{{ site.Params.phone }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="{{ site.Params.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a class="mx-2" href="{{ site.Params.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
        </section>
{{- partial "footer.html" . -}}
</body>
</html>